<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Parcel</title>
  </head>
  <body>
    <h1>Fill in the prompt to create a Parcel!</h1>
    <form action="/parceldisplay" method="post">
     <label for="length">Length</label>
     <input id="length" name="length" type="text">
     <label for="width">Width</label>
     <input id="width" name="width" type="text">
     <label for="height">height</label>
     <input id="height" name="height" type="text">
     <label for="weight">Weight</label>
     <input id="weight" name="weight" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>